.leaflet-container {
    height: 100vh;
    width: 100%;
}

.map-z-index{
    z-index: 10001;
}

.map-checkbox{
    left: 10px;
    bottom: 25px;
}

.map-location{
    right: 10px;
    bottom: 25px;
}
.map-legend{
    top: 10%;
    right: 10px;
    width: 150px;
}
.map-redoSearch{
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.ReactModal__Overlay {
    z-index: 10001;
}


.allo{
    width: 50px;
    height: 50px;
}


.filterTab{
    height: 32px;
    width: 18px;
    position: absolute;
    flex: 0 0 16.666667%;
}


.search-input{
    width:  100%;
    font-size: 14px;
    word-wrap: break-word;
    line-height: 1em;
    outline: 0;
    white-space: normal;
    min-height: 2em;
    background: #fff;
    display: inline-block;
    padding: .5em 2em .5em 1em;
    color: rgba(0,0,0,.87);
    box-shadow: none;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .25rem;
}




@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}
@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

.fadeLeft-enter {
    animation-name: fadeInLeft;
    animation-duration: 400ms;
}

.fadeLeft-enter.fadeLeft-enter-active {
    animation-name: fadeInLeft;
    animation-duration: 400ms;
}

.fadeLeft-exit {
    animation-name: fadeOutLeft;
    animation-duration: 400ms;
}

.fadeLeft-exit.fadeLeft-exit-active {
    animation-name: fadeOutLeft;
    animation-duration: 400ms;
}


.applied-height{
}

.filter-button{
    height: 40px;
    width: 50%;

}

/*input[type='checkbox'] {*/
    /*-webkit-appearance:none;*/
    /*width:15px;*/
    /*height:15px;*/
    /*background:white;*/
    /*border-radius:5px;*/
/*}*/


.border{
    border-radius: 5px;
    border: 1px solid #ecedee;
    /*position: absolute;*/
}

.fix{
    width: 100%;
    margin-top: 10px;
    transform: translate3d(0px, 65px, 0px) !important;
}

input[type=search]{
    width: 100%;
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1em;
    outline: 0;
    white-space: normal;
    min-height: 1.0em;
    background: #fff;
    display: inline-block;
    padding: .5em .5em .5em .5em;
    color: rgba(0,0,0,.87);
    box-shadow: none;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: .30rem;
    transition: box-shadow .1s ease,width .1s ease;
    -webkit-transition: box-shadow .1s ease,width .1s ease;
}

.content{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.p-inherit{
    padding: inherit;
    margin: inherit;
}

.icon:hover{
    fill: red;
}

